:root {
    --dialogue-border-color: #7cc6ff;
    --dialogue-bg-color: #fff8fb;
    --dialogue-name-bg-color: #ffd6ec;
    --dialogue-text-color: #b23a6b;
    --dialogue-text-shadow-color: #ff9ac8;
    --dialogue-image-background-color: #e6f7ff;

    --game-over-background-color: #000;
    --game-over-text-color: #a00000;

    --dialogue-portrait-border-size: 8px;
    --dialogue-gap: 0.5rem;

    --dialogue-name-font: 'Pixelify Sans', serif;
    --dialogue-text-font: 'Pixelify Sans', sans-serif;
    --game-over-font: 'Pixelify Sans', serif;
}

/* General Styles */
.invisible {
    opacity: 0;
}
.hidden {
    display: none;
}

/* Dialogue box styles */
.dialogue_box {
    position: fixed;
    left: 50%;
    bottom: -100%;
    display: none;
    flex-direction: row;
    transform: translate(-50%, 0);
    transition: bottom 1s ease-in-out;
}
.dialogue_box.active {
    bottom: 1rem;
}
.dialogue_box .portrait {
    width: 15rem;
    height: 15rem;
    border: var(--dialogue-border-color) var(--dialogue-portrait-border-size) solid;
    background-color: var(--dialogue-image-background-color);
}
.dialogue_box.player_response .portrait img{
    display: none;
}
.dialogue_box .portrait img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dialogue_box .right {
    display: flex;
    flex-direction: column;
    gap: var(--dialogue-gap);
    margin-left: 1rem;
}
.dialogue_box .name {
    width: fit-content;
    padding: 0.75rem;
    font-family: var(--dialogue-name-font);
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 200%;
    background-color: var(--dialogue-name-bg-color);
    color: var(--dialogue-text-color);
    border: var(--dialogue-border-color) 4px solid;
    text-shadow: -1.5px 1.5px 0 var(--dialogue-text-shadow-color);
}
.dialogue_box .text {
    width: 30vw;
    height: 7rem;
    overflow: auto;
    font-family: var(--dialogue-text-font);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem;
    background-color: var(--dialogue-bg-color);
    color: var(--dialogue-text-color);
    border: var(--dialogue-border-color) 4px solid;
    flex-grow: 1;

    /* get rid of scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* also get rid of scrollbar*/
.dialogue_box .text::-webkit-scrollbar {
  display: none;
}
.dialogue_box .options {
    display: flex;
    position: absolute;
    bottom: -100%;
    right: 0;
    width: fit-content;
    max-width: 15vw;
    flex-direction: column-reverse;
    gap: var(--dialogue-gap);
    padding: 0.75rem;
    padding-bottom: 0;
    transform: translate(100%, 0);
    transition: bottom 1s ease-in-out;
}
.dialogue_box .options.active {
    bottom: 0;
}
.dialogue_box .options .option_button {
    font-family: var(--dialogue-text-font);
    font-size: min(1.5rem, 150%);
    width: 100%;
    padding: 0.5rem;
    background-color: var(--dialogue-name-bg-color);
    color: var(--dialogue-text-color);
    border: var(--dialogue-border-color) 4px solid;
    text-shadow: -1px 1px 0 var(--dialogue-text-shadow-color);
    cursor: pointer;
}
.dialogue_box .options .option_button.template {
    display: none;
}

/* also get rid of text scrollbar but for webkit browsers */
.dialogue_box .text::-webkit-scrollbar {
  display: none;
}


/* Moving Character Styles */
.moving_character {
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    transform: translate(0,0);
}


/* Shop Styles */
.shop {
    display: none;
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    top: 100%;
    transition: top 1s ease-in-out;
}
.shop.active {
    top: 0;
}
.shop h1 {
    font-family: var(--dialogue-name-font);
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 20%;
    padding: 1rem;
    text-align: center;
    color: var(--dialogue-text-color);
    border: var(--dialogue-border-color) 4px solid;
    background-color: var(--dialogue-name-bg-color);
    text-shadow: -1px 1px 0 var(--dialogue-text-shadow-color);
}
.shop .exit_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-family: var(--dialogue-text-font);
    font-size: 2rem;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--dialogue-name-bg-color);
    color: var(--dialogue-text-color);
    border: var(--dialogue-border-color) 4px solid;
    text-shadow: -1px 1px 0 var(--dialogue-text-shadow-color);
    cursor: pointer;
}


/* Game Over Screen Styles */
.game_over {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: var(--game-over-background-color);
    z-index: 100;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
.game_over.active {
    display: flex;
}
.game_over h1 {
    color: var(--game-over-text-color);
    font-family: var(--game-over-font);
    font-weight: 1000;
    font-size: 10vw;
}